{% extends 'base.html' %}

{% block content %}
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>

Here are your uploads {{request.user}}

<br />
{% for photo in uploads %}
<div class="gallery">
    <a target="_blank" href="exif/{{ photo.get_upldName }}">
      <img src="media/{{ photo.get_upldName }}" width="600" height="400">
    </a>
    <div class="desc">{{ photo.filename }}</div>
</div>
{% endfor %}

{% endblock %}
